#board {
  background-color: #6399a3;
  width: 45vmax;
  height: 43.9vmax;
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  box-shadow: 3px 3px rgba(0,0,0,.5);
}
body {
  background-color: #382423;
  color: #c5d2d8;
}
.asideRight {
  float: right;
  display: flex;
  flex-direction: column;
  order: 20;
}
aside {
  height: 80vmin;
  width: 45vmax;
  flex-direction: row-reverse;
}
#reset, #playAI {
  font-size: 20px;
  padding: 10px;
  background-color: #6399a3;
  color: #c5d2d8;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  padding-left: 40%;
  font-family: Oswald, cursive;
}
.column {
  width: 6.42857142857vmax;
  height: 43.9vmax;
  display: block;
  flex-direction: row;
  box-sizing: border-box;
}
.row {
  background-color: #105461;
  border: 1px white solid;
  box-sizing: border-box;
  height: 6.42857142857vmax;
  width: 6.42857142857vmax;
  display: block;
  border-radius: 50%;
  box-shadow: 2.5px 2.5px rgba(0,0,0,.5);
}
.centralRow {
  margin-top: 1.07142857143vmax;
  margin-bottom: 1.07142857143vmax;
}
h1, h2, h3 {
  flex-grow: 1;
}
h1 {
  font-size: 60px;
  font-weight: 1000;
  font-family: "Yatra One", cursive;
}
h2, h3 {
  font-family: "Concert One", cursive;
}
footer {
  font-family: Oswald, cursive;
}
.black {
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
}
.white {
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}
.turnWhite {
  color: white;
}
.turnBlack {
  color: black;
}
#winnerSpan {
  display: none;
}
